<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <!--_______________ KHỐI XỬ LÝ KẾT NỐI DATABASE POSTGRESQL VÀ INSERT DATA VÀ POSTGRESQL______________ -->
      <hr><h3>KHỐI XỬ LÝ KẾT NỐI DATABASE POSTGRESQL VÀ INSERT DATA VÀO POSTGRESQL</h3>
      <form action="addDataPostgresqlDemo2" method="POST" >  <!--ko có: enctype="multipart/form-data"-->  
        <div class="form-group">  <!--các biến đc truyền đến routes/portfolioDemo2.js: -->
          <div class="row">         <!--addDataPostgresqlDemo2, usernamePostgresqlDemo2, emailPostgresqlDemo2 và passwordPostgresqlDemo2-->
            <div class="col-sm-3"><label for="">username</label></div>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="usernamePostgresqlDemo2" id="" aria-describedby="helpId" placeholder="">
            </div>
          </div> <!--/row-->
          <div class="row">
            <div class="col-sm-3"><label for="">email</label></div>
            <div class="col-sm-9">
              <input type="email" class="form-control" name="emailPostgresqlDemo2" id="" aria-describedby="helpId" placeholder="educlong@gmail.com">
            </div>
          </div> <!--/row-->
          <div class="row">
            <div class="col-sm-3"><label for="">password</label></div>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="passwordPostgresqlDemo2" id="" aria-describedby="helpId" placeholder="123abc>?">
            </div>
          </div> <!--/row-->
          
          <button type="submit" class="btn btn-primary">Submit Postgresql</button>
        </div>  <!--/form-group-->
      </form> <!--/form-->




      <!--_______________VIEW ĐỂ SELECT DATA TỪ POSTGRESQL _____________________-->
      <hr><h1>KHỐI XỬ LÝ SELECT DATA TỪ POSTGRESQL </h1>
      <div class="row">
        <table class="table table-striped table-bordered table-hover table-inverse">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>username</th>
              <th>email</th>
              <th>password</th>
              <th>date create</th>
              <th>authority</th>
              <th>isdelete</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              <% data.forEach(function(aData){ %> <!--đưa data từ Postgredb vào-->
                <tr class="updatePostgreUnhide">
                  <td scope="row"><%= aData.id %></td>
                  <td><%= aData.username %> </td>
                  <td><%= aData.useremail %> </td>
                  <td><%= aData.userpassword %> </td>
                  <td><%= aData.userdatecreate %> </td>
                  <td><%= aData.useradmin %> </td>
                  <td><%= aData.isdelete %> </td>
                  <td> 
                      <i class="fa fa-edit"></i> 
                    /   <!--ở đây trước khi delete cần phải confirm vs user xem có chắc chắn xóa hay ko, -->
                    <a href="/portfolioDemo2/deletePostgresql-demo2/<%= aData.id %>" onclick="return confirmToDelete('Bạn có chắc chắn muốn xóa ko?');">
                      <i class="fa fa-remove"></i>    <!--function để confirm confirmToDelete viết trong script cuối file này-->
                    </a>
                  </td>
                </tr>
                <tr class="updatePostgreHide">
                  <form action="/updatePostgresql-demo2/<%= aData.id %>" method="POST" >  <!--ko có: enctype="multipart/form-data"--> 
                    <td scope="row"><%= aData.id %></td>
                    <td>  <!--truyền id cần update vào aData._id, các name= kindPostgreEditDemo2 và titlePostgreEditDemo2 đc truyền qua portfolioDemo2 để update-->
                      <input type="text" class="form-control" name="usernamePostgreEditDemo2" id="" aria-describedby="helpId" placeholder="title" value="<%= aData.username %>">
                    </td>
                    <td><input type="email" class="form-control" name="emailPostgreEditDemo2" id="" aria-describedby="helpId" placeholder="title" value="<%= aData.useremail %> "></td>
                    <td><%= aData.userpassword %> </td>
                    <td><%= aData.userdatecreate %> </td>
                    <td><%= aData.useradmin %> </td>
                    <td><%= aData.isdelete %> </td>
                    <td> <button type="submit" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> </button></td>
                  </form>
                </tr>
              <% }) %>
            </tbody>
        </table>
      </div>
      
    </div>
      
    
    <script type="text/javascript">
      function confirmToDelete(message){
        if(window.confirm(message)==true) return true;
        return false;
      }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>